<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    {% for x in messages %}
       {% if x.tags == 'success' %}
            <p style="color: green;">{{ x }}</p>
        {% elif x.tags == 'error' %}
            <p style="color: red;">{{ x }}</p>
       {% endif %}
    {% endfor %}
    <form  method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter your email"/><br/>
        <input type="password" name="password" placeholder="Enter your password"/><br/>
        <input type="password" name="confirm_password" placeholder="Enter your password"/><br/>

        <button>Submit</button>

    </form>
</body>
</html>